// MAIN COLORS
$color-foret: #005527
$color-corail: #e55a29
$color-pollen: #ffe47a
$color-ciel: #d3e7f0
$color-background: #ffffff

// TYPOGRAPHY

//Fonts family
$body-font-family: "Poppins", sans-serif
$meta-font-family: $body-font-family
$heading-font-family: $body-font-family
$lead-font-family: $body-font-family

// h1
$h1-size-desktop: 45px
$h1-size: 35px
$h1-weight: 500

// body
$body-size-desktop: 16px
$body-size: 15px


// HEADER
$header-background: $color-foret
$header-color: $color-background
$header-logo-height: 65px
$header-logo-height-desktop: 80px
$header-border-bottom-width: 0

// FOOTER
$footer-color: $color-pollen
$footer-background-color: $color-foret
$footer-logo-height: 90px
$footer-logo-height-desktop: 120px

// HERO
$hero-background-color: $color-foret
$hero-color: $color-pollen
// $hero-height: 200px
// $hero-height-desktop: 300px


$link-color: $color-foret !default
$link-underline-offset: 6px !default




