header#document-header 
    nav
        padding-bottom: 10px
        padding-top: 10px
        
footer#document-footer
    padding-top: 2rem
    padding-bottom: 2rem
    .container
        padding-top: 0px
        padding-bottom: 2rem
        + .container
            padding-top: 0px
        