html.has-menu-opened
    header#document-header
        background-color: $color-foret

        .header-button:hover
            color: $color-pollen
        .nav-level-1 
            > li:hover
                color: $color-pollen
        

header#document-header 
  
    .header-button:hover
            color: $color-pollen
    nav
        padding-bottom: 10px
        padding-top: 10px

body
    .hero-text  
        span
            color: $color-pollen !important
        .lead
            color: $color-background 
    li.breadcrumb-item::before
        color: $color-pollen !important
    .block-call_to_action
        div
            //background-color: $color-foret 
            //color: $color-pollen
            background-color: $color-ciel
            color: $color-foret

            > div
                .actions
                    a
                        //background-color: $color-pollen !important
                        background-color: $color-pollen !important
                        color: inherit !important
                        &:hover,
                        &:focus
                            background-color: $color-foret !important
                            color: $color-pollen !important
                            //background-color: $color-corail !important
                            //color: inherit !important

                    
                
            
        
    


    .odd-items
        dt
            font-weight: bold;
            //text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
            strong
                -webkit-text-stroke: 1.5px $color-corail; 
                color: transparent; 
              
    .testimonials
            blockquote
                p
                    //color: $color-foret
                    color: $color-corail
    .block-chapter--alt_background
        background-color: $color-ciel

    .block-chapter--accent_background
        background-color: $color-foret
        h2
            color: $color-pollen

        h3
            color: $color-pollen
        p
            color: $color-background

    .project-content
        .project-categories
            a
                color: $color-corail
                text-decoration-color: $color-pollen
            a:hover
                text-decoration-color: $color-corail


    .project-infos
        li
            a
                color: $color-pollen
                text-decoration-color: $color-corail
            a:hover
                text-decoration-color: $color-pollen


            span
                color: $color-background


        
footer#document-footer
    padding-top: 2rem
    padding-bottom: 2rem
    .container
        padding-top: 0px
        padding-bottom: 2rem
        + .container
            padding-top: 0px
        